:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
}
/*top-line*/
.top-line {
  

  background: #ffffff;
}

.top-line-link {
 

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
  color: #000;
  text-decoration: none;
}
ul {
  list-style: none;
}
.list {
  list-style: none;
}

.top-line-link:hover {
  color: #2196f3;
}

.span {
  color: #2196f3;
}
.top-link {
 
  
}
.link1 {
  

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.link2 {
  

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.link3 {
 

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.header-mail-link {
 

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.header-tel-link {
 

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
/*Portfolio*/


  
}
.filters {
  
}
.button {
 font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
background: #f5f4fa;
  
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button:hover{
  background-color: #2196f3;
  color: #ffffff;
}

.container1 {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container2 {
   background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container3 {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container4 {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container5 {
   background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container6 {
 background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container7 {
 background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container8 {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container9 {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.title-container{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.name{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}

/*footer*/

.footer {
  

  background: #2f303a;
}
.footer-link {
  
  color: #ffffff;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-link:hover {
  color: #2196f3;
}
.footer-text {
 

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.mail-link {
  

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.tel-link {
  

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
